<h1>文章列表</h1>


<%= link_to "新增文章", articles_new_path %>
<ul>
<% @articles.each do |article|%>
    <li><%= article.title %></li>
    <li><%= link_to "<%= article.title %>", "#" %></li>
<% end %>
</ul>