<h1 class="h1-type">VIP方案</h1>


<h2>10 元</h2>

<%= link_to '付款優惠', payment_path(id: "pro") , class: 'action-btn'%>

<h2>50 元</h2>

<%= link_to '付款優惠', payment_path(id: "premium") , class: 'action-btn'%>